<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <!-- DTO 클래스의 별칭을 설정합니다. -->
        <typeAlias type="persistence.dto.ServiceInfoDTO" alias="ServiceInfoDTO"/>
        <typeAlias type="persistence.dto.MessageDTO" alias="MessageDTO"/>
        <typeAlias type="persistence.dto.MessageHeaderDTO" alias="MessageHeaderDTO"/>
        <typeAlias type="persistence.dto.UserDTO" alias="UserDTO"/>
        <typeAlias type="persistence.dto.VolunteerDTO" alias="VolunteerDTO"/>

    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <!--  connecting to Local MySql -->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost/mydb?characterEncoding=utf8&amp;serverTimezone=UTC&amp;useSSL=false"/>
                <property name="username" value="root"/>
                <property name="password" value="102302!"/>
            </dataSource>

        </environment>

    </environments>
    <mappers>
        <mapper resource="sqlmapper/serviceInfo.xml"/>
        <mapper resource="sqlmapper/message.xml"/>
        <mapper resource="sqlmapper/messageHeader.xml"/>
        <mapper resource="sqlmapper/user.xml"/>
        <mapper resource="sqlmapper/volunteer.xml"/>
    </mappers>
</configuration>